<p id="notice"><%= notice %></p>

<h1 class="text-indigo">Wastes</h1>

<%- @wastes.sort_by { |k, v| seriousness(v) }.each do |waste_type, items| %>
  <p><%= link_to waste_type, reflect_wastes_path(waste_type) %></p>
<% end %>

<br>

<%= link_to 'New Waste', new_waste_path %>
