<h1>Vote Waste</h1>

<div class="ml-3">
  <wrong_feature></wrong_feature>
  <mismanage_backlog></mismanage_backlog>
  <rework></rework>
  <complex_solution></complex_solution>
  <cognitive_load></cognitive_load>
  <psychological_distress></psychological_distress>
  <waiting></waiting>
  <ineffective_communication></ineffective_communication>
</div>
<%#= render 'form', waste: @waste %>


<%= link_to 'Back', wastes_path %>
